# S2DS/HAL24k Project on TFL London bicycle data

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import os, psycopg2, sqlite3

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

## myTFLstops model

In [3]:
home  = os.environ['HOME']
work_dir = Path(home) / 'Programming/s2ds-project'
# tfl_stops_model_file = work_dir / r'S2DS2016 Starting Data/TFL_status/myTFLstops.pkl'

In [4]:
print(f'{work_dir}')

/Users/angelo/Programming/s2ds-project

In [5]:
# tfl_stops_model_df = pd.read_pickle(tfl_stops_model_file)

In [6]:
# print(f'len(tfl_stops_model_df.keys()): {len(tfl_stops_model_df.keys())}')

## Data access

### Access to databases on raspberrypi.local

In [7]:
conn = psycopg2.connect('host=raspberrypi.local user=angelo dbname=s2ds_project')

In [8]:
cur = conn.cursor()
cur.execute('''SELECT * FROM flow''')
flow_results = cur.fetchall()

In [9]:
flow_results_df = pd.DataFrame(flow_results, columns = [x[0] for x in cur.description])
flow_results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160897 entries, 0 to 160896
Data columns (total 8 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        160897 non-null  int64
 1   date      160897 non-null  object
 2   dow       160897 non-null  int64
 3   month     160897 non-null  object
 4   flow_out  160897 non-null  int64
 5   flow_in   160897 non-null  int64
 6   lat       160897 non-null  float64
 7   lon       160897 non-null  float64
dtypes: float64(2), int64(4), object(2)
memory usage: 9.8+ MB

In [10]:
flow_results_df.nunique()

id          160897
date          1677
dow              7
month           12
flow_out        74
flow_in         64
lat              1
lon              1
dtype: int64

In [11]:
flow_results_df.head(10)

   id        date  dow month  flow_out  flow_in      lat       lon
0   0  2012-01-01    6     1         0        0  51.5299 -0.123617
1   1  2012-01-01    6     1         0        0  51.5299 -0.123617
2   2  2012-01-01    6     1         0        0  51.5299 -0.123617
3   3  2012-01-01    6     1         0        0  51.5299 -0.123617
4   4  2012-01-01    6     1         0        0  51.5299 -0.123617
5   5  2012-01-01    6     1         0        0  51.5299 -0.123617
6   6  2012-01-01    6     1         0        0  51.5299 -0.123617
7   7  2012-01-01    6     1         0        0  51.5299 -0.123617
8   8  2012-01-01    6     1         0        0  51.5299 -0.123617
9   9  2012-01-01    6     1         0        0  51.5299 -0.123617

In [12]:
cur.execute('''SELECT * FROM lat_long''')
latandlong_results = cur.fetchall()

UndefinedTable: relation "latandlong" does not exist
LINE 1: SELECT * FROM latandlong
                      ^

In [ ]:
latandlong_results_df = pd.DataFrame(latandlong_results, columns = [x[0] for x in cur.description])
latandlong_results_df.info()

In [ ]:
latandlong_results_df.head(10)

In [ ]:
latandlong_results_df.nunique()

### Access to data from CSV files

In [ ]:
# rp_data_dir = Path('/Volumes/DataDisk/s2ds-project')
# latandlong_file = rp_data_dir / 'csv-files/latandlong.csv'

### Access from Sqlite database

In [ ]:
flow_journey_db = work_dir / 'FlowJourneyData.db'
con = sqlite3.connect(flow_journey_db)
query = '''SELECT * FROM Journeys LIMIT 10'''
cursor = con.execute(query)
rows = cursor.fetchall()

In [ ]:
journeys_df = pd.DataFrame(rows, columns = [x[0] for x in cursor.description])
journeys_df.info()

In [ ]:
journeys_df.head()

In [ ]:
query = '''SELECT * FROM Stations LIMIT 10'''
cursor = con.execute(query)
rows = cursor.fetchall()

In [ ]:
stations_df = pd.DataFrame(rows, columns = [x[0] for x in cursor.description])
stations_df.info()

In [ ]:
stations_df.head()

In [ ]:
all_flows_df = pd.read_csv(work_dir / r'CSV Files/allFlows.csv', parse_dates=True)

In [ ]:
all_flows_grouped_df = pd.read_csv(work_dir / r'CSV Files/AllFlowsGrouped.csv', parse_dates=True)

In [ ]:
all_flows_df.info()

In [ ]:
all_flows_df.head(3)

In [ ]:
all_flows_df.columns.nunique()

In [ ]:
all_flows_grouped_df.info()

In [ ]:
all_flows_grouped_df.columns.nunique()

In [ ]:
all_flows_grouped_df.head(3)

In [ ]:
average_weekdays_df = pd.read_csv(work_dir / r'CSV Files/Average_Weekday.csv', parse_dates=True)

In [ ]:
average_weekdays_df.head(3)

In [ ]:
average_weekdays_sum_diff_df = pd.read_csv(work_dir / r'CSV Files/Average_Weekday_Sum_Difference.csv', parse_dates=True)

In [ ]:
average_weekdays_sum_diff_df.head(3)

In [ ]:
# import geopandas

In [ ]:
# geopandas.datasets.get_path('naturalearth_cities')

In [ ]:
# df = geopandas.read_file(geopandas.datasets.get_path('naturalearth_cities'))
# ax = df.plot(figsize=(10, 10), alpha=0.5, edgecolor='k')

In [ ]:
# df = geopandas.read_file(geopandas.datasets.get_path('nybb'))
# ax = df.plot(figsize=(10, 10), alpha=0.5, edgecolor='k')

## PostgreSQL database from CSV files

In [ ]:
bike_dir = work_dir / r'S2DS2016 Starting Data/bike_data'

In [ ]:
bike_files = list(bike_dir.glob('**/*.csv'))
columns_list = ['Rental Id', 'Duration', 'Bike Id', 'End Date', 'EndStation Id', \
                'EndStation Name', 'Start Date', 'StartStation Id', 'StartStation Name']

In [ ]:
# for i, bike_file in enumerate(bike_files):
#     with open(bike_file, newline = '', encoding='ISO-8859-1') as csvfile:
#         if i%10 == 0:
#             print(f'Number of files processed: {i}')
#         reader = list(csv.reader(csvfile))
#         if sorted(reader[0]) != sorted(columns_list):
#             print(bike_file)
# print(f'Total number of CSV files: {i}')

In [ ]:
import locale
print(f'locale.getlocale(): {locale.getlocale()}')

In [ ]:
tmp_df_list = []
for i, bike_file in enumerate(bike_files):
    tmp_df = pd.read_csv(bike_file, encoding='ISO-8859-1', low_memory=False)
    for col in ['End Date', 'Start Date']:
        tmp_df[col] =  pd.to_datetime(tmp_df[col], format='%d/%m/%Y %H:%M', errors='raise', exact=False)
    tmp_df_list.append(tmp_df)
    if i%10 == 0:
        print(f'Number of files processed: {i}')
print(f'Total number of CSV files: {i}')

In [ ]:
journeys_df = pd.concat(tmp_df_list, axis=0, ignore_index=True)

In [ ]:
journeys_df.info()

In [ ]:
journeys_df.tail()

In [ ]:
unnamed_cols = ['Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11']
for col in unnamed_cols:
    print(col, journeys_df[col].isna().all(), sep=' - ')

In [ ]:
journeys_df.drop(unnamed_cols, axis=1, inplace=True)

In [ ]:
journeys_df.head()

In [ ]:
journeys_df.isna().any()

In [ ]:
journeys_df.dropna(how='any', inplace=True, axis=0)

In [ ]:
journeys_df.info(verbose=True)

In [ ]:
journeys_df = journeys_df.loc[~(journeys_df['StartStation Id'] == 'Tabletop1')]

In [ ]:
for col in ['Rental Id', 'Duration', 'Bike Id', 'EndStation Id', 'StartStation Id']:
    journeys_df[col] = journeys_df[col].astype('int32')

In [ ]:
journeys_df.info()

In [ ]:
journeys_df.head()

In [ ]:
pd.options.display.max_info_columns

In [ ]:
pd.options.display.max_info_rows

In [ ]:
print(f'Ratio for rows that are all NA: {journeys_df.isna().all(axis=1).sum()/journeys_df.isna().all(axis=1).shape[0]:.4f}')
print(f'Ratio for rows that have at least one NA: {journeys_df.isna().any(axis=1).sum()/journeys_df.isna().all(axis=1).shape[0]:.4f}')

In [ ]:
journeys_df.loc[journeys_df.isna().any(axis=1)]

In [ ]:
journeys_df.head()

In [ ]:
# journeys_df.to_sql